<div class="container-md my-4">
  <div class="row g-0 g-sm-4 justify-content-center align-items-center">
    <div class="form-inline my-0 col-sm-6">
      <div class="input-group">
        <input type="text" class="form-control bg-black text-white" placeholder="Search Character"
               [(ngModel)]="searchTerm" aria-label="Search Character" aria-describedby="button-addon1">
        <button class="btn btn-clear text-white" (click)="search()" id="button-addon1"><i class="bi bi-search"></i>
        </button>
      </div>
    </div>
    <button *ngIf="showClearButton" (click)="showAll()"
            class="btn btn-outline btn-clear text-white col-sm-2 my-2 my-sm-0">x
    </button>
  </div>
</div>


