<div class="card border-white border-1 bg-black text-white shadow-glow h-100">
  <div class="card-body">
    <h4 class="card-title text-primary fs-6">{{char.name}}</h4>
    <ul class="list-unstyled">
      <li class="d-block"><span class="fw-bolder">Height: </span>{{char.height}}</li>
      <li class="d-block"><span class="fw-bolder">Mass: </span>{{char.mass}}</li>
      <li class="d-block"><span class="fw-bolder">Birthyear: </span>{{char.birth_year}}</li>
      <!--    Lagging Display of Homeplanet  -->
      <!--      <li class="d-block"><span class="fw-bolder">Homeplanet: </span>{{char.homeworld}}</li>-->
    </ul>
  </div>
</div>
